body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

tbody td.clickable {
  cursor: pointer;
}

tbody td.clickable:hover {
  background-color: grey;
  transition: .2s ease-out;
  color: white;
}