extends layout

block layout-content
  .alert.alert-danger.js-error-alert(hidden="hidden")
  h1= title
  p Welcome to #{title}

  h2 Running services
  table.table.table-striped
    thead.js-services-table-header
      tr
        td #
        th Test01
        th Test02
        th Test05 
        th Test06
        th Staging
        th Production

    tbody.js-services-table-body
      tr(data-service="api-registrar")
      tr(data-service="api-universis")
      tr(data-service="dining")
      tr(data-service="evaluation")  
      tr(data-service="qa-dashboard")
      tr(data-service="register")      
      tr(data-service="registrar")
      tr(data-service="robot")
      tr(data-service="robot3")
      tr(data-service="spm-dashboard")
      tr(data-service="students")
      tr(data-service="teachers")
      tr(data-service="user-admin")
      

  div.js-selected-service-wrapper(hidden="hidden")
    h2.js-selected-service
    h5.text-muted.js-subtitle
    ul.js-selected-service-attributes